<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.freeeditor.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application>

        <activity
            android:name="cn.freeeditor.sdk.permission.PermissionActivity"
            android:theme="@android:style/Theme.Translucent"
            android:alwaysRetainTaskState="false"
            android:launchMode="singleTask">
        </activity>

    </application>

</manifest>
